*{
    margin:0;
    padding: 0;
    box-sizing:border-box ;
}
.style_count{
    margin: 0;
    padding: 5px;
    font-size:1.5em;
    border: black solid 2px;
}
.style_table{
    padding-top: 10px;
    border: black solid 2px;
}
.logo
{
    height: 100%;
    width: 100px;
}

@media only screen and (max-width: 500px) {
    .logo {
        height: 3rem;
        width: 3rem;
    }
}